# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Optional build output
dist/
build/
